.example-spacer {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

mat-card {
  min-width: 300px;
  text-align: center;
}

mat-card-header {
  margin-bottom: 10px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-bottom: 5px;
}

mat-card-content form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

.option-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
}

.option-row mat-checkbox {
  margin: auto 5px 50%;
}

.option-row button {
  margin: auto auto 50% 5px;
}
