<mat-toolbar>
  <span>Questionnaire</span>
  <span class="example-spacer"></span>
  <a>
    <button mat-raised-button color="accent" routerLink="/management">Back to management</button>
  </a>
</mat-toolbar>
<div class="wrapper">
  <div class="list-container-content-left">
    <h1 class="title">Unanswered</h1>
    <ng-container *ngFor="let question of unanswered; let i = index">
      <ng-container *ngIf="question.choice === 0">
        <single-select-question [question]="question" (answer)="handleAnswer($event)"></single-select-question>
      </ng-container>

      <ng-container *ngIf="question.choice === 1">
        <multiple-select-question [question]="question" (answer)="handleAnswer($event)"></multiple-select-question>
      </ng-container>

      <ng-container *ngIf="question.choice === 2">
        <open-question [question]="question" (answer)="handleAnswer($event)"></open-question>
      </ng-container>
    </ng-container>
  </div>
  <div class="lists-container-content-right">
    <h1 class="title">
      Answered
    </h1>
    <ng-container *ngFor="let question of answered; let i = index">
      <ng-container *ngIf="question.choice === 0">
        <single-select-question [question]="question" (answer)="handleAnswer($event)"></single-select-question>
      </ng-container>

      <ng-container *ngIf="question.choice === 1">
        <multiple-select-question [question]="question" (answer)="handleAnswer($event)"></multiple-select-question>
      </ng-container>

      <ng-container *ngIf="question.choice === 2">
        <open-question [question]="question" (answer)="handleAnswer($event)"></open-question>
      </ng-container>
    </ng-container>
  </div>
</div>
