<mat-toolbar>
  <span>My App</span>
  <span class="example-spacer"></span>
  <a>
    <button mat-raised-button color="accent">Back to management</button>
  </a>
</mat-toolbar>
<div class="wrapper">
  <div class="list-container-content-left">
    <h1 class="title">Unanswered</h1>
    <mat-card>
      <mat-card-subtitle>Date:20-07-22</mat-card-subtitle>
      <p>type questions</p>
      <mat-card-title>Text of question</mat-card-title>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Answer</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="lists-container-content-right">
    <h1 class="title">
      Answered
    </h1>
     <mat-card>
      <mat-card-subtitle>Date:20-07-22</mat-card-subtitle>
      <p>type questions</p>
      <mat-card-title>Text of question</mat-card-title>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn">Roll Back</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
